<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>396876001034-6efbrgf2o8usdd0hqc4urck3csea83r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396876001034-6efbrgf2o8usdd0hqc4urck3csea83r0</string>
	<key>API_KEY</key>
	<string>AIzaSyC1o9JamxZXnN3q0NET0i0AmYlh3axdQko</string>
	<key>GCM_SENDER_ID</key>
	<string>396876001034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.za.shaunsaker.isle5</string>
	<key>PROJECT_ID</key>
	<string>isle5-development</string>
	<key>STORAGE_BUCKET</key>
	<string>isle5-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396876001034:ios:991edcd101199775</string>
	<key>DATABASE_URL</key>
	<string>https://isle5-development.firebaseio.com</string>
</dict>
</plist>